<a href="https://colab.research.google.com/github/giutassarotti/IAesame/blob/main/training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -r requirements.txt

#**Caricamento del dataframe**#

In [1]:
import pandas

def io_load_multiple_csv(csv_path_list):
  dataframe_list = []
  for elem in csv_path_list:
    dataframe_list.append(io_load_csv(elem))
  return dataframe_list

def io_load_csv(csv_path):
  return pandas.read_csv(csv_path)

In [2]:
dataframe_train_path = "train.csv"
dataframe_test_path = "test.csv"

dataframe_train, dataframe_test = io_load_multiple_csv([dataframe_train_path, dataframe_test_path])

Stampa delle prime righe:

In [3]:
dataframe_train.head()

   Exited  RowNumber  CustomerId  ... HasCrCard  IsActiveMember EstimatedSalary
0       0       6948    15809558  ...         1               1       149970.59
1       1       1306    15800434  ...         0               0       146359.81
2       0         49    15766205  ...         0               1        90878.13
3       0       8634    15801414  ...         0               0       144251.38
4       0       8407    15578747  ...         0               1        59195.05

[5 rows x 14 columns]